<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="willy.individual.com.dribbbow">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="willy.individual.com.dribbbow.views.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="willy.individual.com.dribbbow.MainActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.auth.AuthActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.shot_detail.ShotActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.shot_imgae_activity.ShotImageActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.bucket_list.BucketListActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.bucket_list.BucketCrudActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.bucket_list.BucketShotListActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.profile.ProfileActivity" />
        <activity android:name="willy.individual.com.dribbbow.views.about.AboutActivity" />
    </application>

</manifest>